@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import './variables.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: map-get($colors, dark);
  font-size: map-get($fontsizes, default);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .wrapper {
      font-family: 'Press Start 2P';
      background-image: url('../images/background.png');
      background-size: contain;
      height: 100vh;
      display: grid;
      grid-column-gap: 18px;
      grid-row-gap: 20px;
      grid-template-columns: auto repeat(12, minmax(auto, 100px)) auto;
      grid-template-areas:
      'hd hd hd hd hd hd hd hd hd hd hd hd hd hd'
      '. . ct ct ct ct ct ct ct ct ct ct . .';
    }


    .header {
      grid-area: hd;
    }

    .pageContent {
      grid-area: ct;
    }
  }
}

.header {
  background-color: map-get($colors, brand);
  color: map-get($colors, textLight);
  padding: 5px 20px;
  height: 60px;
}

.pageContent {
  color: map-get($colors, textLight);
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

button {
  color: map-get($colors, textLight);
  font-weight: bold;
  font-size: map-get($fontsizes, medium);
  padding: 10px;
  border: solid 2px map-get($colors, dark);
  background-color: map-get($colors, highlight);
  box-shadow: inset (-4px) (-4px) 0px 0px darken(map-get($colors, highlight), 20);

  &:hover {
    color: map-get($colors, dark);
    background-color: dark(map-get($colors, highlight), 10);
    box-shadow: inset (-4px) (-4px) 0px 0px darken(map-get($colors, highlight), 30);
  }
}
