.progressBar {
  position: relative;
  height: 20px;
  width: 800px;
  border-radius: 30px;
  border: 1px solid #020004; }
  .progressBar__filler {
    background: #ef509e;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in; }
